<ol class="breadcrumb">
  <li><%= link_to 'Inicio', root_path %></li>
  <li><%= link_to "Minhas Receitas", recipes_path%></li>
  <li><%= link_to 'Cadastrar Receita', new_recipe_path  %></li>
  <li class="active">Nova Cozinha</li>
</ol>

<%= simple_form_for @world_cuisine do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :name, label: 'Nome', placeholder: 'Italiana, grega, mineira, japonesa...' %>
    </div>
  </div>
  <%= f.button :submit, 'Criar Cozinha' %>
<% end %>
