<%= simple_form_for @budget, defaults: { input_html: { class: 'form-control' } } do |f| %>
  <div class="form-group">
    <%= f.input :client_name%>
  </div>
  <div class="form-group">
  <%= f.input :client_email%>
  </div>
  <div class="form-group">
    <%= f.input :client_phone%>
  </div>
  <div class="form-group">
    <%= f.input :description%>
  </div>

  <%= f.submit button_label, class: 'btn btn-default' %>
<% end %>
