<h2><%= @job.title %></h2>
<hr>
<% if @job.featured? %>
  <div class="alert alert-success alert-dismissible" role="alert">
     <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Vaga em Destaque!</strong>
  </div>
<% end %>

<dl class="dl-horizontal">
  <dt class="text-left">Empresa:</dt>
  <dd><%= @job.company.name%></dd>
  <dt>Localização:</dt>
  <dd><%= @job.location %></dd>
  <dt>Categoria:</dt>
  <dd><%= @job.category.name %></dd>
  <dt>Descrição Completa:</dt>
  <dd><%= @job.description %></dd>
</dl>
