<!DOCTYPE html>
<html>
  <head>
    <title>Aluguel de Equipamentos do Zé</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class='alert alert-warning'>
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
